.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noteHeader {
    border: black 1px solid;
}

.noteUl {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 22%;
    background-color: sandybrown;
    height: 100%;
    width: 15%;
}

.selectedNote {
    position: absolute;
    right: 0;
    top:0;
    width: 500px;
}

.nameArea {
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    height: 100vh;
    width: 50vw;
    right: 0;
    top: 0;
}

.contentArea {
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    height: 100vh;
    width: 50vw;
    right: 0;
    top: 50%;
}
