 .pageContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: flex-start;
}

.container {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

.noteHeader {
    box-sizing: border-box;
    border-bottom: #CDCDCD 1px solid;
    height: 9vh;
    /* font-size: 20px; */
}

.notesPage {
    padding-left: 15px;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0;
}

.notesNum {
    /* padding-top: 30px; */
    padding-left: 15px;
    font-size: 16px;
    margin-bottom: 10px;
}

.noteUl {
    margin: 0;
    padding: 0;
    background-color: #F1F1EF;
    width: 16vw;
    height: 100vh;
    overflow-y: scroll;
}

.selectedNote {
    display: flex;
    flex-direction: column;
    width: 62.5vw;
}

.nameArea {
    box-sizing: border-box;
    padding: 30px;
    height: 9.34vh;
    margin: 0;
    padding-top: 30px;
    border-left: grey 1px solid;
    border-bottom: grey 1px solid;
    border-top: none;
    border-right: none;
    resize: none;
    text-align: left;
    font-size: 20px;
    outline: none;
}

.contentArea {
    box-sizing: border-box;
    padding: 30px;
    height: 100vh;
    border-left: grey 1px solid;
    border-bottom: grey 1px solid;
    border-top: none;
    border-right: none;
    resize: none;
    font-size: 20px;
    outline: none;
}
