.container {
    /* background-color: oldlace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    background-color: #F1F1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    background-color: #fff;
}

.submitButton{
    /* margin: 10px;
    width: 12.5rem;
    background-color: black;
    color: white */
    box-sizing: border-box;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 10px;
    width: 300px;
    font-size: 20px;
    margin-bottom: 10px;
}

.input {
    /* font-size: large;
    width: 12rem; */
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 6px;
    padding: 20px;
    width: 300px;
    height: 15px;
}

.errors {
    color: #ff0033;
}

.formContainer {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
