.container {
    background-color: oldlace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
}

.submitButton{
    margin: 10px;
    width: 12.5rem;
    background-color: black;
    color: white
}

.input {
    font-size: large;
    width: 12rem;
}

.errors {
    color: #ff0033;
}

.formContainer {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
