.navList {
  box-sizing: border-box;
  background-color: #272727;
  color: #f1f1efd8;
  margin: 0;
  width: 21vw;
  height: 100vh;
  list-style-type: none;
  padding: 20px;
}

.navUser {
  box-sizing: border-box;
  padding: 5px;
}

.navSearchContainer {
  box-sizing: border-box;
  padding: 5px;
  color: #747474;
}

.navSearch {
  box-sizing: border-box;
  width: 208px;
  height: 30px;
  outline: none;
  padding-left: 10px;
}

.navButtonLi{
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
}

.navButton {
  box-sizing: border-box;
  text-align: start;
  width: 208px;
  height: 30px;
  color: #747474;
  padding-left: 10px;
}

.navLi {
  box-sizing: border-box;
  padding: 5px;
  color: #747474;
}

.navAnchor {
  color: black;
  text-decoration: none;
  color: #f1f1efd8;
}
