.navList {
  box-sizing: border-box;
  background-color: burlywood;
  margin: 0;
  width: 21vw;
  height: 100vh;
  list-style-type: none;
  padding: 20px;
}

.navUser {
  box-sizing: border-box;
  padding: 5px;
}

.navSearchContainer {
  box-sizing: border-box;
  padding: 5px;
}

/* .navSearch {
    border-radius: 50%;
} */

.navButton {
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
}

.navLi {
  box-sizing: border-box;
  padding: 5px;
}

.navAnchor {
  color: black;
  text-decoration: none;
}
